* p{
	margin:0;
	font-size: 13px;
	font-family: 'Gloria Hallelujah', cursive;
}
*h1{
	font-family: 'Gloria Hallelujah', cursive;
}

/*__________________________________________*/
/*INICIO DO CABEÇALHO*/
#cabecalho{
	font-family: 'Gloria Hallelujah', cursive;
	margin: -15px 0px 20px 0px;
	box-shadow: 10px 10px 5px #f7b42e;
	border-radius: 15px;
	width: 100%;
	height: 170px;
}
#cabecalho img{
	margin: 20px 0px 0px 50px;
	position: absolute;
}
.ger ul{
	position: absolute;
	margin-left: 80%;
	padding: 2px;
	width: 150px;
	height: 120px;
}
.ger li{
	margin: 3px 3px 0px 3px;
	padding: 15px;
	border-radius: 15px;
	display: block;
	background-color: #f7b42e;
	text-align: center;
	padding: 10px;
}
.icones ul{
	position: absolute;
	width: 100%;
	list-style-type: none;
	text-align: center;
}
.icones li{
	margin: 80px 3px 0px 3px;
	padding: 15px;
	border-radius: 15px;
	display: inline-block;
	background-color: #f7b42e;
	text-align: center;
	padding: 10px;
}
#cabecalho li:hover{
	border: 1px solid #f7b42e;
	background-color: white;
}
/*FIM DO CABEÇALHO*/
/*---------------------------*/
/*INICIO DO MENU LATERAL*/
.inf{
	margin-left: 10%;
	width: 75%;
}
.menu_esquerdo{
	font-family: 'Gloria Hallelujah', cursive;
	box-shadow: 10px 10px 5px #f7b42e;
	margin: 0px 0px 0px  0px;
	padding: 15px;
	border-radius: 15px;
	width: 20%;
	height: 550px;
}
.menu_esquerdo li{
	text-align: center;
	list-style-type: none;
	background-color: #f7b42e;
	margin: 5px 10px 5px 0px;
	padding: 15px;
	border-radius: 15px;
}
.menu_esquerdo h1{
	text-align: center;
}
.menu_esquerdo li:hover{
	border: 1px solid #f7b42e;
	background-color: white;
}
#centro{
	height: 640px;
}
.header_article {
 position: relative;
 width: 70%;
 margin-left: 5%;
 margin-top: -47px;
 background-color: #f7b42e;
 text-align: center;
 border-radius: 15px;
}
/*FIM DO MENU LATERAL*/
/*---------------------------*/
/*INICIO RODAPE*/
footer{
	margin-top: 30px;
	width: 100%;
	height: 250px;
	background-color: #f7b42e;
}
footer h1{
	text-align: center;
}

nav.footer-links1,nav.footer-links2,nav.footer-links3{
	text-align: justify;
	width: 30%;
	margin: 20px 0px 20px 0px;
	float: left;
	text-align: center;

}
nav.footer-links3 li{
	display: inline-block;

}
nav.footer-links1 li,nav.footer-links2 li,nav.footer-links3 li{
	list-style-type: none;
}

article{
	width: 77%;
	display: inline-block;
	position: absolute;
	margin-left: 21%;
	margin-top: -543px;
}
article li {
	display: inline-block;
	border-radius: 15px;
	padding: 2px;
	width: 225px;
	height:250px;
	border: 1px solid #f7b42e;
	background-color: white;
	box-shadow: 10px 10px 5px #f7b42e;
	margin: 5px 5px 5px 0px;
	text-align: center;
}

article li img{
	margin-top: 20px;
}
/*------------------------*/
/*bread-crumbies*/
/*------------------------*/
#localizacao{

	top: 500px;
	text-align: center;
}
/*fim bread-crumbies*/
/*-------------Estilo Cadastro------------------*/
#tabelacadastro {
	width: 100%;
	height: 500px;
	margin-left: 15%;
}

#tabelacadastro li{
	display: inline-block;
}
#tabelalogin,#tabelacad,#tabelameio{
	font-size: 13px;
	border: 1px solid #f7b42e;
	background-color: white;
	box-shadow: 10px 10px 5px #f7b42e;
	border-radius: 15px;
	margin-left: 15px;
	margin-right: 15px;
	padding: 2px;
	text-align: center;
}
#tabelameio{
	position: relative;
	top:-200px;
	width: 50px;
	height: 50px;
}
#tabelalogin{
	position: relative;
	top: -150px;
	width: 300px;
	height: 300px;
}
#tabelacad{
	width: 300px;
	height: 450px;
}
